*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}
  
  #app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

  /* REG FORM */
  .reg__form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 10vw;
    background-color: rgb(250, 133, 0);
    padding: 30px;
    position: absolute;
    border-radius: 20px;
    z-index: 99999;
    border: 2px solid lightgray;
  }
  .reg__form input{
    border: 0;
    background: none;
    outline: none;
    width: 15vw;
    padding: 5px;
    position: relative;
    border: 1px solid white;
    color: rgb(0, 0, 0);
    font-size:18px;
  }
  .normal__pos{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .btn__mode{
    background: rgb(209, 201, 185) !important;
    border: 0;
    height: 55px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .5s;
  }
  .null-kek{
    display: none;
  }

      /* Head */
  header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vw;
  }
  .main-header__content > p{
    font-size: 18px;
    color: #eca31c;
    margin-top: 1.5vw;
  }
  .main-header__content > h1{
    font-size: 40px;
    color: rgb(207, 126, 51);
  }
  .header__input-with-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .fa-plus-circle{
    padding-left: 10px;
    color: #eca31c;
  }
  .fa-plus-circle:hover{
    cursor: pointer;
  }
  .time__left{
    width: 50px;
  }
  .header__input-with-button > input{
    margin-top:5px;
    border: 1.5px solid #bce0fd;
    font-size: 14px;
    color: rgb(207, 126, 51);
    background-color: #f1f9ff;
    border-radius: 7px;
    padding: 7px;
    width: 200px;
    outline: none;
  }
    
  /* Switch theme */
  .switch-theme__button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: -13vw;
  }
  .switch-theme__button > p{
      font-size: 20px;
    margin-right: 15px;
    margin-top: -7px;
    color: #c58102;
  }
  input[type = "checkbox"]{
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 30px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 20px;
    background: black;
  }
  input:checked[type = "checkbox"]{
    background: #eeb87b;
  }
  input[type = "checkbox"]:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: lightgray;
    border-radius: 20px;
    transform: scale(.98,.96);
    transition: .5s;
  }
  input:checked[type = "checkbox"]:before{
    left: 40px;
  }
  input[type = "checkbox"]:after{
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: .5s;
  }
  input:checked[type = "checkbox"]:after{
    box-shadow: none;
    left: 60px;
  }
  
  
      /* Main */
  main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 5vw;
    width: 80vw;
  }
  .colored__h3{
    color: #eca31c;
    font-size: 26px;
  }
  .outline__block{
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 220px;
    min-height: 60vh;
    border: 1.5px solid black;
  }
  .outline__block > h3{
    padding-top: 25px;
  }
  .lightblue__color{
    font-size: 24px !important;
    color: #2699fb;
  }
  .another__color{
    color: #070a0c;
  }
  .bold{
    font-weight: bold;
    color: #010203;
    font-size: 14px;
  }
  .edit__font{
    font-size: 12px;
  }
  
  
  ul{
    padding-top: 10px;
    min-height: 10vw;
    min-width: 10vw;
  }
  li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    margin-bottom: 1vw;
    padding-left: 10px;
    min-width: 170px;
    min-height: 175px;
    max-width: 190px;
    background-color: #f1f9ff;
    list-style: none;
    position: relative;
  }
  li:hover{
    cursor: move;
  }
  li h3{
    padding-bottom: 10px;
  }
  
  
  .sub__main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
  }
  .back{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(163, 163, 163, .3);
  }
  .main__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    width: 600px;
    background-color: white;
  }
  .light__border{
    border-radius: 15px;
    border: 2px solid rgb(179, 179, 179);
    box-shadow: 0 0 15px rgb(131, 131, 131);
  }
  .first, .second{
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    z-index: -1;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 1500%;
    animation: animate 200s linear infinite;
  }
  .second{
    filter: blur(20px);
  }
  
        /* ANIMATE */
  @keyframes animate{
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 1500% 0;
    }
    100%{
      background-position: 0 0;
    }
  }
  .x{
    position: absolute;
    right: 1vw;
    top: .5vw;
  }
  .x:hover{
    cursor: pointer;
  }
  .flex__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 27vw;
  }
  .flex-form__object p{
    color: #319efb;
    font-weight: bold;
    font-size: 14px;
  }
  .flex-form__object input{
    border: 1.5px solid #bce0fd;
    font-size: 12px;
    color: rgb(85, 106, 165);
    background-color: #f1f9ff;
    border-radius: 7px;
    padding: 7px;
    width: 200px;
    outline: none;
  }
  .flex__container button{
    background: none;
    border: 0;
    height: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  
      /*BUTTON-MODAL-WINDOW*/
  
  .fa-times{
    color: #2699fb;
  }
  .fa-arrow-right{
    color: #2699fb;
  }
  #sel{
    border: 1.5px solid #000000;
    font-size: 12px;
    color: rgb(85, 106, 165);
    background-color: #fff1f1;
    border-radius: 7px;
    padding: 7px;
    width: 217px;
    outline: none;
  }
  option{
    padding: 5px;
  }
  .sub__menu{
    display: flex;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
    margin-left: 6vw;
    color: #000000;
  }
  .fa-check-circle-o,.fa-times-circle-o {
    margin-left: 5px;
  }
  .fa-pencil-square-o:hover {
    cursor: pointer;
  }
  .fa-check-circle-o:hover{
    cursor: pointer;
  }
  .fa-times-circle-o:hover{
    cursor: pointer;
  }
  
  
        /* DARK MODE */
  .dark__theme{
    min-height: 100vh;
  }
  .dark__theme, .dark__background{
    background-color: #0f111a;
  }
  .dark__block{
    border: 2px solid #fc6703;
  }
  .dark__content{
    background-color: #142129;
    border: 1px solid #2e2020;
    border-radius: 0px;
  }
  .dark-sub__menu i{
    color: #fc6703;
  }
  .dark__content > h3{
    font-size: 24px;
    color: #fc6703;
  }
  .dark__content > p{
      font-size: 15px;
    color: #eceee3;
  }
  .dark-header__content > p{
    color: #eca31c;
  }
  .dark__mode input, .dark__mode select{
    background-color: #1f1f1f !important;
    border: 1px solid #606981 !important;
  }
  .dark__mode i{
    color: #eca31c;
  }
  
        /*ANIMATED DARK BUTTON */
  .dark-btn__mode i{
    color: #344064 !important;
  }
  .dark-btn__mode{
    background: rgb(114, 114, 114) !important;
    border: 0;
    height: 105px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  
    /*BUTTON-MODAL-WINDOW*/
  
  .dark__color{
    color: black !important;
    text-shadow: 0 0 8px black;
  }
  .lighter{
    text-shadow: 0 0 8px #ff6e4a;
  }
  .plan__content, .in-work__content, .ended__content{
    z-index: 1;
  }
  
  .first-main{
    position: absolute;
    height: 103%;
    width: 103.5%;
    background: #fff;
    top: -3px;
    left: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
  }
  .second-main{
    position: absolute;
    height: 103%;
    width: 103%;
    top: -3px;
    left: -3px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(10px);
  }
  .first-main, .second-main{
    background: linear-gradient(225deg, #4aaeff, #060c21, #00bcd4);
  }
  
  .first-main-fixed{
    position: absolute;
    height: 103%;
    width: 103.5%;
    background: #fff;
    top: -3px;
    left: -3px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
  }
  .second-main-fixed{
    position: absolute;
    height: 103%;
    width: 103%;
    top: -3px;
    left: -3px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(10px);
  }
  .first-main-fixed, .second-main-fixed{
    background: linear-gradient(231deg, #4aaeff, #060c21, #00bcd4);
  }
  
      /*ANIMATIONS*/
  
  .dark__hover:hover{
    color: #4a5577;
    transition: .5s;
  }
  .light__hover:hover{
    transition: .5s;
    color: rgb(0, 96, 180);
  }
  .light__hover{
    transition: .5s;
  }
  
  
  
  
